src/main/resources/wsdl/operations.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://app.com/cmi-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.com/cmi-service" targetNamespace="http://app.com/cmi-service">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://app.com/cmi-service">
            <!-- client creation request approval -->
            <xsd:element name="clientCreationRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="clientInfo" type="tns:clientInfo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- client creation response not definitive -->
            <xsd:element name="clientCreationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- client Info model  -->
            <xsd:complexType name="clientInfo">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="firstName" type="xsd:string"/>
                    <xsd:element name="lastName" type="xsd:string"/>
                    <xsd:element name="address" type="xsd:string"/>
                    <xsd:element name="cin" type="xsd:string"/>
                    <xsd:element name="email" type="xsd:string"/>
                    <xsd:element name="tel" type="xsd:string"/>
                    <xsd:element name="account" type="tns:accountInfo"/>
                    <xsd:element name="agency" type="tns:agencyInfo"/>
                </xsd:sequence>
            </xsd:complexType>
            <!-- account Info model  -->
            <xsd:complexType name="accountInfo">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="accountNumber" type="xsd:string"/>
                    <xsd:element name="amount" type="xsd:double"/>
                    <xsd:element name="credit" type="xsd:double"/>
                    <xsd:element name="strCreationDate" type="xsd:string"/>
                    <xsd:element name="accountType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <!-- agency Info model  -->
            <xsd:complexType name="agencyInfo">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="name" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="clientCreationRequest">
        <wsdl:part element="tns:clientCreationRequest" name="clientCreationRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="clientCreationResponse">
        <wsdl:part element="tns:clientCreationResponse" name="clientCreationResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OperationServicePort">
        <wsdl:operation name="clientCreation">
            <wsdl:input message="tns:clientCreationRequest" name="clientCreationRequest"> </wsdl:input>
            <wsdl:output message="tns:clientCreationResponse" name="clientCreationResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OperationServicePortSoap11" type="tns:OperationServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="clientCreation">
            <soap:operation soapAction=""/>
            <wsdl:input name="clientCreationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="clientCreationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OperationServicePortService">
        <wsdl:port binding="tns:OperationServicePortSoap11" name="OperationServicePortSoap11">
            <soap:address location="http://localhost:8088/soapWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>